{% extends "base.html" %}
{% block body %}

<div>
<form class="form-horizontal" action="/" method="post">
<fieldset>

<!-- Form Name -->
<legend>Add Session</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="practice-date">Date</label>  
  <div class="col-md-2">
  <input id="practice-date" name="practice-date" type="text" placeholder="MM/DD/YY" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="exercise-name">Exercise</label>
  <div class="col-md-2">
    <select id="exercise-name" name="exercise-name" class="form-control">
      <option value="single-beat">Single Beat Combinations</option>
      <option value="triplets">Triplets</option>
      <option value="short-roll-single">Short Rolls (Single)</option>
      <option value="short-roll-double">Short Rolls (Double)</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="exercise-start">Start #</label>  
  <div class="col-md-1">
  <input id="exercise-start" name="exercise-start" type="text" placeholder="1" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="exercise-stop">Stop #</label>  
  <div class="col-md-1">
  <input id="exercise-stop" name="exercise-stop" type="text" placeholder="20" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tempo">Tempo</label>  
  <div class="col-md-1">
  <input id="tempo" name="tempo" type="text" placeholder="128" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitfor"></label>
  <div class="col-md-4">
    <button id="submitid" name="submitname" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

</div>

{% endblock %}
